.calc-display {
  background: rgb(139, 148, 124);
  color: rgb(3, 3, 3);
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 16px;

  margin: 20px 20px;

  border-radius: 16px;

  box-shadow: 0 0 3px 4px #888888;


  font-size: 32px;
}