.calc-key {

  box-sizing: border-box;

  //background: rgb(117, 117, 117);
  
  background: linear-gradient(to right,#757575,#858585,#858585,#757575);

  color: rgb(209, 209, 209);

  box-shadow: 0 0 3px 1px #888888;

  height: 54px;
  width: 64px;

  margin: 4px;
  
  border: 2px solid #646464;
  -border-top: 3px solid rgb(90, 90, 90);

  border-radius: 16px;

  font-size: 30px;

  user-select: none;

  &:active {
    border: 2px solid #6b6b6b;
    box-shadow: 0 0 0px 0px #5a5959;
    background: linear-gradient(to right,#757575,#858585,#757575);

    transform:translateY(1px);
    
  }
  
}

